<footer class="bg-dark text-white text-white text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-5">
       <!--Grid row-->
       <div class="row">
         <!--Grid column-->
         <div class="col-lg-4 col-md-8 mb-4 mb-md-0">
            <img src= "/assets/images/home.jpg" class="home">
            <br/><br/>
             <h2> Address </h2>
             Railway crossing road,
             manish Nagar , Nagpure
             Pincode : 445201
         </div>
         <!--Grid column-->
   
         <!--Grid column-->
         <div class="col-lg-4 col-md-8 mb-4 mb-md-0">
          <!-- <h5 class="text-uppercase">Links</h5>-->
           
          <img src= "/assets/images/phone-icon.jpg" class="phone">
          <br/><br/>
            <h2> Phone </h2>
            Contact No:8459725568
            
         </div>
         <!--Grid column-->
   
         <!--Grid column-->
         <div class="col-lg-4 col-md-8 mb-4 mb-md-0">
           <!-- <h5 class="text-uppercase">Links</h5>-->
   
           <img src= "/assets/images/email.jpg" class="email">
                  <br/><br/>
                    <h2>Email</h2>
                    Email Id: foodcorner@gmail.com
         </div>
         <!--Grid column-->
       </div>
       <!--Grid row-->
     </div>
     <!-- Grid container -->
   
     <!-- Copyright -->
     <div class="text-center p-3" style="background-color:black">
       © 2021:
       <a class="text-white" href="http://www.iacsd.com/">www.foodcorner.com</a>
     </div>
     <!-- Copyright -->
   </footer>